.Rproj.user
.Rhistory
.RData
.Ruserdata
tokenfile.txt
*.Rproj
download/
*.DS_Store
download/*.csv
*.pdf
*.html

R_other/*.csv
*.Rmd
output/*.pdf
output/*.csv
DA_output/*.pdf
DA_output/*.csv
*.nc

data/model_output/CABL/*.csv
data/model_output/CLM4/*.csv
data/model_output/CLMP/*.csv
data/model_output/GDAY/*.csv
data/model_output/LPJW/*.csv
data/model_output/LPJX/*.csv
data/model_output/OCNX/*.csv
data/model_output/SDVM/*.csv

data/*.csv
data/*.dat
data/*.nc
data/EucFACE_data/*.csv
data/EucFACE_data/*.dat
data/MAESPA_output/*.csv
data/met_data/*.csv
data/support_data/*.csv
data/support_data/other_FACE/*.csv
data/support_data/Dai/*.nc
data/support_data/Dai/*.csv
output/*.jpg

*.Rmd